[Unit]
Description=The Bro Network Security Monitor
After=network.target
Requires=network.target

[Service]
User=logstash
Group=logstash
ExecStart=/usr/bin/broctl start
ExecStop=/usr/bin/broctl stop

[Install]
WantedBy=multi-user.target
